/.vs
/.vscode
/Trie Compacta.sln
/Trie Compacta.vcxproj
/Trie Compacta.vcxproj.filters
/Trie Compacta.vcxproj.user

/TrieCompacta.sln
/TrieCompacta.vcxproj
/TrieCompacta.vcxproj.filters
/TrieCompacta.vcxproj.user